* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ffc1d5 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #ffc1d5 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

/* Navegación*/

header {
    width: 100%;
}

#titulo {
    float: left;
    font-weight: 900;
    font-size: 33px;
    margin-top: 4px;
    margin-left: 15px;
    color: #fa8fb1;
}

#navegación {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    border-bottom: 2px solid #fa8fb1;
  }
  
 .navegación {
    float: right;
  }
  
  .navegación a {
    display: block;
    color: #fa8fb1;
    font-weight: 600;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #fa8fb1;
    border-left: 2px solid #fa8fb1;
  }
  
  #border {
    border-left: 1px solid #fa8fb1;
  }

  .navegación a:hover {
    background-color: #fa8fb1;
    color: white;
  }

/* portada */

#portada {
    width: 100%;
    height: 350px;
    overflow: hidden;
}

#portada > img {
    width: 1440px;
    height: 360px;
}

.textos {
    position: absolute;
    top: 30%;
    left: 20%;
    color: rgb(230, 230, 230);
}

#texto-portada {
    position: absolute;
    font-size: 20px;
    font-weight: 500;
    top: 37%;
    left: 40%;
}

/* Productos */

h2 {
    text-align: center;
    font-size: 35px;
    margin-top: 50px;
}

.producto {
    width: 350px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 5px 10px 43px -5px rgba(0,0,0,0.2);
    float: left;
    margin-left: 50px;
    margin-right: 15px;
    margin-top: 30px;
    background-color: white;
    display: flexbox;
}

.contenido > h3 {
    font-size: 30px;
}

.contenido > p {
    font-size: 15px;
    font-weight: 600;
    margin: 5px;
}

.contenido {
    margin: 10px;
}

.producto > img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    height: 175px;
    width: 350px;
}

.botón-producto {
    display: inline-block;
    padding: 10px;
    color: white;
    background-color: #fc6998;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-decoration: none;
}

.separador {
    height: 2px;
    width: 90%;
    background-color: #fa8fb1;
    margin-left: 65px;
}

#separador-especialidades {
    margin-top: 440px;
}

/* Sabores */

.sabores {
    overflow: hidden;
    width: 170px;
    height: 400px;
    text-align: center;
    float: left;
    list-style-type: none;
    margin-top: 25px;
}

.sabores > h2 {
    font-size: 20px;
}

.separador-sabor {
    height: 400px;
    width: 2px;
    background-color: #fa8fb1;
    float: left;
    margin-left: 93px;
    margin-right: 93px;
    margin-top: 30px;
}

.lista {
    margin-top: 10px;
    font-weight: 600;
}

#texto-postres {
    text-align: center;
    margin-top: 475px;
}

#texto-postres > h3 {
    font-size: 25px;
}

#texto-postres > p {
    font-size: 15px;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 60px;
}

/* Locación */

#locación > img {
    width: 600px;
    height: 399.99px;
    margin-top: 60px;
    margin-left: 325px;
    border: 3px solid #fa8fb1;
    border-radius: 30px;
}

.loc-txt {
    text-align: center;
}

#locación > h4 {
    font-size: 20px;
    margin-top: 30px;
}

#locación > p {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}

/* Contacto */

#contacto > h4 {
    text-align: center;
    margin-top: 30px;
}

.contenedor-iconos {
    font-size: 20px;
    display: flex;
    margin-left: 425px;
    margin-bottom: 30px;
}

.iconos {
    width: 40px;
    height: 40px;
    border: #fa8fb1 solid 2px;
    border-radius: 100%;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #fa8fb1;
}

.iconos > i {
    margin-top: 8px;
}

.iconos:hover {
    border: #fa8fb1 solid 2px;
    background-color: #fa8fb1;
    color: white;
}