* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #ffffff;
    background: radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #ffffff 20%, #ffffff 80%, transparent 80%, transparent) 10px 10px, linear-gradient(#ffc1d5 0.8px, transparent 0.8px) 0 -0.4px, linear-gradient(90deg, #ffc1d5 0.8px, #ffffff 0.8px) -0.4px 0;
    background-size: 20px 20px, 20px 20px, 10px 10px, 10px 10px;
}

.contenedor {
    text-align: center;
    margin: auto;
    width: 50%;
    background-color: white;
    color: #fc6998;
    padding: 50px;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.19);
    -webkit-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.19);
    -moz-box-shadow: 0px 0px 20px 6px rgba(0,0,0,0.19);
}

.contenedor > i {
    font-size: 70px;
    margin-bottom: 10px;
}

.contenedor > h2 {
    font-size: 30px;
}

.contenedor > p {
    font-size: 17px;
    font-weight: 600;
    margin-top: 10px;
}

